.header {
    z-index: 1;
    width: auto;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.headerItem {
    border-right: 1px solid black;
    font-size: 24px;
    padding: 10px;
}

.menu{
    z-index: 0;
    border-radius: 5px;
}